@charset "UTF-8";
@font-face {
  font-family: "meiryo";
  src: url(../fonts/meiryo.ttc);
  src: url(../fonts/meiryo.ttf);
}
@font-face {
  font-family: "meiryob";
  src: url(../fonts/meiryob.ttc);
  src: url(../fonts/meiryob.ttf);
}
@font-face {
  font-family: "savoye";
  src: url(../fonts/savoye.ttf);
}
@font-face {
  font-family: "fradm";
  src: url(../fonts/fradm.TTF);
}
.arrow-rotated {
  transform: rotate(180deg);
}

.bold {
  font-weight: 700;
}

.invisible {
  visibility: hidden;
  -webkit-user-select: none;
          user-select: none;
  opacity: 0;
}

input[type=number] {
  -moz-appearance: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

*[data-animation=ripple] {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  outline: none;
  --color-ripple: rgba(255, 255, 255, 0.8);
}

.border-bottom {
  position: relative;
}
.border-bottom:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #ababab;
  opacity: 1;
  bottom: 0;
  transition: all 0.2s linear;
}
.border-bottom:hover {
  color: #f54500;
}
.border-bottom:hover:after {
  background-color: #f54500;
  opacity: 0;
  bottom: -3px;
}
.border-bottom:hover:after:hover {
  opacity: 1;
  bottom: 0;
}

.wave {
  font-family: "savoye";
  font-size: 33px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .wave {
    font-size: 28px;
  }
}
.wave:hover > span {
  font-size: 40px;
}
@media (max-width: 500px) {
  .wave:hover > span {
    font-size: 28px;
  }
}
.wave:before {
  content: "";
  font-size: 40px;
  font-family: "savoye";
}

.input-error {
  position: absolute;
  display: block;
  top: 114%;
  left: 19px;
  color: #f44601;
  -webkit-user-select: none;
  user-select: none;
  visibility: hidden;
  white-space: nowrap;
}

.slide-in {
  position: relative;
  z-index: 1;
  transition: color 0.4s ease-in-out;
  transition-delay: 0.1s !important;
  overflow: hidden;
}
.slide-in:after {
  transition: width 0.5s ease-in-out;
  content: "";
  background-color: #f44601;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
}
.slide-in:hover {
  color: #ffffff;
}
.slide-in:hover:after {
  width: 100%;
}

.green__check {
  display: none;
}
.green__check-label {
  display: inline-block;
  margin-left: 30px;
  padding-right: 5px;
  position: relative;
  line-height: 22px;
  cursor: pointer;
}
.green__check-label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -30px;
  top: -1px;
  width: 17px;
  height: 17px;
  box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: 1px solid #ffffff;
  background-color: #40c916;
}
@media (max-width: 450px) {
  .green__check-label:before {
    top: 1px;
  }
}
.green__check-label:after {
  content: url("../img/icons/green-check.png");
  display: inline-block;
  position: absolute;
  left: -26px;
  top: -4px;
  transform: scale(0);
  transition: transform 0.2s linear;
}
@media (max-width: 450px) {
  .green__check-label:after {
    top: -2px;
  }
}
.green__check:checked + label:after {
  transform: scale(1);
}

label {
  -webkit-user-select: none;
          user-select: none;
}

.flying-block {
  position: relative;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  box-shadow: none;
  transform-style: flat;
  transition: all 0.25s ease-out;
}
.flying-block:before {
  content: "";
  position: absolute;
  z-index: -2;
  border-radius: 10px;
  transition: all 0.25s ease-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
.flying-block:hover {
  border-color: #dedede;
}
.flying-block:hover:before {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}

.scroll-down {
  display: flex;
  margin: 6px auto;
  background-color: transparent;
  font-size: 17px;
}
.scroll-down i {
  transition: transform 0.2s linear;
}
.scroll-down:active i {
  transform: translateY(-4px);
}

._error {
  border: 1px solid #ff0f0f !important;
}
._error + span {
  visibility: visible !important;
}

.item-gradient:hover .circle-gradient {
  background-color: #eae9e9;
  background-size: 100% 0;
}

.circle-gradient {
  background-repeat: no-repeat;
  background-color: #eae9e9;
  background-size: 100% 100%;
  background-image: linear-gradient(to top, #eae9e9, #ffffff);
  transition: background-size 0.2s linear, background-color 0.2s linear, background-image 0.2s linear;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  overflow: hidden auto;
  line-height: 1;
  font-size: 14px;
  color: #121212;
  font-family: "meiryo" !important;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
}

input, button, textarea {
  font-family: "meiryo";
}

input::-ms-clear {
  display: none;
}

button, a {
  line-height: unset;
  cursor: pointer;
}

button {
  -webkit-user-select: none;
          user-select: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

.header {
  padding: 31px 0 21px;
  position: relative;
}
@media (max-width: 500px) {
  .header {
    padding: 15px 0 15px;
  }
}
.header:first-of-type {
  border-bottom: 1px solid #d9d9d9;
}
@media (max-width: 800px) {
  .header:first-of-type {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .header__row {
    display: none;
  }
}
.header__row-mobile {
  display: none;
}
@media (max-width: 800px) {
  .header__row-mobile {
    display: flex;
  }
}
.header__logo {
  margin-right: 30px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.header__column {
  display: flex;
  flex-direction: column;
}
.header__left {
  align-items: flex-start;
}
.header__city-select {
  margin-bottom: 8px;
}
.header__text {
  color: #121212;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
@media (max-width: 1000px) {
  .header__text > span {
    display: block;
    line-height: 24px;
  }
}
.header__center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
@media (max-width: 950px) {
  .header__center {
    position: static;
    left: 0;
    transform: none;
  }
}
.header__phone {
  font-family: "meiryob" !important;
  color: #121212;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.65px;
  padding: 10px 0;
}
.header__phone:hover {
  color: #f54500;
}
.header__call-btn {
  padding: 2px 0;
  color: #5e5e5e;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.42px;
  background-color: transparent;
}
.header__right {
  align-items: flex-end;
}
.header__link {
  display: block;
  padding: 6px 0;
  text-align: right;
  color: #121212;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.42px;
  transition: color 0.2s;
}
.header__link:nth-of-type(2) {
  order: 1;
}
.header__link:nth-of-type(3) {
  color: #f54500;
}
.header__link:hover {
  color: #f54500;
}
.header__link:hover ~ * {
  color: #121212;
}

.city-select {
  position: relative;
}
.city-select__drop-btn {
  background-color: transparent;
  border: none;
}
.city-select__drop-btn:hover > .city-select__current {
  color: #f54500;
}
.city-select__drop-btn:hover > .city-select__current:before {
  background-color: #f54500;
  opacity: 0;
  bottom: -3px;
}
.city-select__drop-btn:hover > .city-select__current:before:hover {
  opacity: 1;
  bottom: 0;
}
.city-select__drop-btn:hover > .city-select__arrow {
  color: #f54500;
}
.city-select__current {
  position: relative;
  color: #514f4f;
  font-size: 17px;
  font-family: "meiryob";
  letter-spacing: 0.42px;
}
.city-select__current:before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #ababab;
  opacity: 1;
  bottom: 0;
  transition: all 0.2s linear;
}
.city-select__arrow {
  margin-left: 13px;
  font-size: 13px;
  transition: transform 0.3s linear;
}
.city-select__arrow-up {
  transform: rotate(180deg);
}
.city-select__drop {
  display: none;
  opacity: 0;
  position: absolute;
  left: -2px;
  background-color: #ffffff;
  box-shadow: 7px 9px 21px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 27px 32px;
  justify-content: space-between;
  z-index: 200;
  transition: opacity 0.3s ease-in-out;
}
.city-select__drop-header {
  top: 120%;
}
.city-select__drop-footer {
  bottom: 120%;
}
@media (max-width: 800px) {
  .city-select__drop-footer {
    flex-direction: column;
  }
}
.city-select__dropped {
  transition: opacity 0.3s ease-in-out;
  display: flex;
  opacity: 1;
}
.city-select__list {
  margin-right: 70px;
}
.city-select__list:last-of-type {
  margin-right: 0;
}
.city-select__city {
  color: #222121;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  letter-spacing: 0.49px;
  white-space: nowrap;
}
.city-select__city:hover {
  color: #f54500;
}
.city-select__city-selected {
  color: #f54500;
}
.city-select__close {
  position: absolute;
  top: 11px;
  right: 11px;
  font-size: 20px;
  color: #a8a7a7;
  background-color: transparent;
  transform: rotate(45deg);
}
.city-select__close:hover {
  color: #363636;
}

.nav {
  border-bottom: 1px solid #d9d9d9;
  padding: 16px 0 18px;
  box-shadow: 7px 9px 21px 1px rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px) {
  .nav {
    display: none;
  }
}
.nav-mobile {
  display: none;
}
@media (max-width: 800px) {
  .nav-mobile {
    display: flex;
    margin-top: 134px;
  }
}
@media (max-width: 550px) {
  .nav-mobile {
    margin-top: 112px;
  }
}
@media (max-width: 500px) {
  .nav-mobile {
    margin-top: 91px;
  }
}
@media (max-width: 400px) {
  .nav-mobile {
    margin-top: 76px;
  }
}
.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nav__menu {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto hidden;
}
.nav__menu::-webkit-scrollbar {
  height: 2px;
  background-color: transparent;
}
.nav__menu::-webkit-scrollbar-thumb {
  background-color: #c4c2c2;
  border-radius: 1px;
}
.nav__menu > li {
  margin-right: 20px;
  padding-bottom: 6px;
  position: relative;
}
.nav__menu > li:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #f54500;
  opacity: 0;
  transition: all 0.2s linear;
}
.nav__menu > li:hover:after {
  opacity: 1;
  bottom: 3px;
}
.nav__link {
  font-family: "meiryob";
  color: #363636;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
}
.nav__cart-btn {
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  position: relative;
  transition: color 0.1s ease;
}
.nav__cart-btn:hover > .nav__total {
  color: #f54500 !important;
}
.nav__phone {
  padding: 8px 11px 2px 14px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  flex-shrink: 0;
}
.nav__phone-link {
  color: #121212;
  font-size: 17px;
  font-family: "meiryob";
}
.nav__phone-link:hover {
  color: #f54500;
}
.nav__cart-block {
  flex-shrink: 0;
}

#topNav {
  border-bottom: none;
  box-shadow: none;
  position: fixed;
  top: -100%;
  z-index: 500;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: top 0.5s ease;
}
@media (max-width: 800px) {
  #topNav {
    display: none;
  }
}
#topNav .nav__menu > li {
  margin-right: 13px;
}
#topNav .nav__link {
  font-size: 16px;
  letter-spacing: 0.4px;
}

.popup-callback {
  position: fixed;
  box-shadow: 7px 9px 21px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 34px 30px 40px 30px;
  z-index: 500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup-callback-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  display: none;
}
.popup-callback-bg-visible {
  display: block;
}
.popup-callback__close {
  position: absolute;
  top: 11px;
  right: 11px;
  font-size: 20px;
  color: #a8a7a7;
  background-color: transparent;
  transform: rotate(45deg);
}
.popup-callback__close:hover {
  color: #363636;
}
.popup-callback__form {
  max-width: 280px;
}
.popup-callback__block {
  padding-top: 10px;
}
.popup-callback__block > label {
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.popup-callback__block > label input {
  margin-top: 10px;
  box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  background-color: #ffffff;
  color: #222121;
  font-size: 16px;
  letter-spacing: 0.49px;
  padding: 10px 20px;
  width: 100%;
  text-transform: capitalize;
}
.popup-callback__content {
  white-space: normal;
  color: #727070;
  font-size: 14px;
  letter-spacing: 0.43px;
  line-height: 22px;
  margin-top: 19px;
}
.popup-callback__button {
  margin-top: 33px;
  width: 100%;
  padding: 12px 0 10px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.61px;
  border-radius: 10px;
  background-color: #f44601;
}

.cart-block {
  position: relative;
}

.cart {
  display: none;
  position: absolute;
  right: 0;
  top: 165%;
  box-shadow: 7px 9px 21px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 500;
  padding: 30px 13px 30px 30px;
}
.cart-opened {
  display: block;
}
.cart__items {
  max-height: 276px;
  overflow: hidden auto;
  padding-right: 18px;
}
.cart__items::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
.cart__items::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .cart__items {
    padding-right: 10px;
  }
  .cart__items::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  .cart__items::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 3px;
  }
}
.cart__item {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 14px;
  padding-top: 14px;
}
.cart__result {
  display: flex;
  justify-content: space-between;
  margin-right: 28px;
  margin-top: 9px;
}
@media (max-width: 500px) {
  .cart__result {
    align-items: flex-end;
  }
}
.cart__content {
  font-family: "meiryob";
  color: #2f2f2f;
  font-size: 18px;
  letter-spacing: 0.55px;
}
@media (max-width: 500px) {
  .cart__content {
    font-size: 15px;
  }
}
.cart__total {
  font-family: "meiryob";
  color: #2f2f2f;
  font-size: 23px;
  letter-spacing: 0.49px;
}
@media (max-width: 500px) {
  .cart__total {
    font-size: 20px;
  }
}
.cart__button {
  margin-top: 28px;
  margin-right: 20px;
}
.cart__submit {
  margin: 0 auto;
  display: block;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 400;
  letter-spacing: 0.61px;
  border-radius: 10px;
  background-color: #f44601;
  position: relative;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 500px) {
  .cart__submit {
    font-size: 14px;
  }
}

@media (min-width: 501px) {
  .item {
    max-height: 92px;
  }
}
.item__image {
  border-radius: 10px;
  margin-right: 11px;
}
.item__image > img {
  border-radius: 10px;
  height: 64px;
}
.item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
}
@media (max-width: 500px) {
  .item__info {
    width: 144px;
  }
}
.item__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.item__name {
  color: #121212;
  font-size: 14px;
  letter-spacing: 0.43px;
  line-height: 12px;
}
.item__name:hover {
  color: #f54500;
}
@media (max-width: 500px) {
  .item__name {
    font-size: 12px;
  }
}
.item__clear {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.item__clear > img {
  width: 15px;
}
.item__clear-roof {
  transform: none;
  transition: transform 0.2s ease;
}
.item__clear:hover > .item__clear-roof {
  transform: rotate(15deg) translateY(-2px);
}
.item__counts {
  background-color: #f4f2f3;
  width: 60px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 4px;
}
.item__counts > * {
  width: 33.3333333333%;
}
.item__count {
  text-align: center;
  font-size: 11px;
  color: #121212;
  cursor: default;
}
.item__count-less {
  padding: 6px 0;
  color: #121212;
  font-size: 11px;
  line-height: 11px;
  border-radius: 4px 0 0 4px;
  background-color: transparent;
}
.item__count-less:hover {
  color: #ffffff;
  background-color: #f44601;
}
.item__count-more {
  padding: 6px 0;
  color: #121212;
  font-size: 11px;
  line-height: 11px;
  border-radius: 0 4px 4px 0;
  background-color: transparent;
}
.item__count-more:hover {
  color: #ffffff;
  background-color: #f44601;
}
.item__price {
  color: #121212;
  font-family: "meiryob";
  font-size: 16px;
}
@media (max-width: 500px) {
  .item__price {
    font-size: 14px;
  }
}

.nav-mobile__phone {
  margin: 0 auto;
}
.nav-mobile__phone > a {
  font-family: "meiryob" !important;
  color: #121212;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.65px;
  padding: 10px 0;
}
.nav-mobile__phone > a:hover {
  color: #f54500;
}
@media (max-width: 500px) {
  .nav-mobile__phone > a {
    font-size: 16px;
  }
}

.header-mobile .city-select__list {
  max-height: 400px;
  overflow: auto;
  padding-right: 20px;
}
.header-mobile__burger {
  position: relative;
  height: 25px;
}
.header-mobile__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 550px) {
  .header-mobile__logo > .header__logo {
    margin-right: 0;
  }
  .header-mobile__logo > .header__logo img {
    max-height: 60px;
  }
  .header-mobile__logo > .header__column {
    display: none;
  }
}
@media (max-width: 400px) {
  .header-mobile__logo > .header__logo img {
    max-height: 45px;
  }
}
.header-mobile__cart {
  flex-shrink: 0;
}
.header-mobile__cart-btn {
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  position: relative;
  transition: color 0.1s ease;
}
.header-mobile__cart-btn:hover > .header-mobile__total {
  color: #f54500 !important;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  min-height: 27px;
  min-width: 27px;
  position: absolute;
  left: 18px;
  bottom: 12px;
  color: #ffffff;
  font-size: 15px;
  background-color: #f14600;
}

.total {
  margin-left: 11px;
  font-family: "meiryob";
  color: #514f4f;
  font-size: 18px;
}

.burger-checkbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.burger-checkbox > span {
  display: block;
  margin: 10px;
  height: 2px;
  width: 40px;
  background-color: grey;
}
.burger-checkbox > span:before {
  top: 0;
}
.burger-checkbox > span:after {
  bottom: 0;
}
.burger-checkbox > span:before, .burger-checkbox > span:after {
  content: "";
  position: absolute;
  left: 10px;
  display: block;
  height: 2px;
  width: 40px;
  background-color: grey;
}
.burger-checkbox-switch {
  display: none;
}
.burger-checkbox-switch:checked ~ .burger-menu-bg {
  left: 0;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.burger-checkbox-switch:checked ~ .burger-menu-bg > .burger-menu {
  margin-left: 0;
  transition: margin-left 0.3s linear 0.3s;
}

.burger-menu {
  padding: 10px;
  box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  background-color: white;
  max-width: 60%;
  min-height: 50%;
  position: relative;
  margin-left: -100%;
  transition: margin-left 0.3s linear;
}
@media (max-width: 450px) {
  .burger-menu {
    max-width: 100%;
  }
}
.burger-menu-bg {
  position: fixed;
  top: 0;
  left: -150%;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 0.3s linear 0.3s, left 0s linear 0.6s;
}
.burger-menu-bg > label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
}
.burger-menu__open-cities {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 17px;
  padding: 12px 10px;
}
.burger-menu__open-cities i {
  color: #f54500;
  margin-right: 6px;
}
.burger-menu__open-cities-btn {
  display: none;
}
.burger-menu__open-cities-btn:checked ~ .burger-menu__cities {
  left: 0;
}
.burger-menu__close-cities {
  padding: 10px;
  font-size: 17px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.burger-menu__cities {
  position: absolute;
  top: 0;
  left: -102%;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  background-color: #ffffff;
  transition: all 0.3s linear;
}
.burger-menu__cities ul {
  overflow: auto;
  max-height: 80%;
}
.burger-menu__cities li {
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.42px;
  line-height: inherit;
}
.burger-menu__open-list {
  padding: 10px;
  font-size: 17px;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.burger-menu__open-list span {
  color: #f54500;
}
.burger-menu__open-list i {
  transition: all 0.3s linear;
}
.burger-menu__close-list {
  padding: 10px;
  font-size: 17px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.burger-menu__open {
  display: none;
}
.burger-menu__open:checked + label > i {
  transform: rotate(180deg);
  color: #f54500;
}
.burger-menu__open:checked ~ .burger-menu__list {
  left: 0;
}
.burger-menu__list {
  position: absolute;
  top: 0;
  left: -102%;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  background-color: #ffffff;
  transition: all 0.3s linear;
}
.burger-menu__list ul {
  overflow: auto;
  max-height: 80%;
}
.burger-menu__list a {
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
  display: block;
  color: #121212;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
.burger-menu__link {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
}
.burger-menu__phone {
  font-family: "meiryob" !important;
  color: #121212;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.65px;
  padding: 10px;
}
.burger-menu__text {
  font-size: 14px;
  color: #121212;
  letter-spacing: 0.65px;
  padding: 0 10px;
}

.footer {
  background-color: #e34200;
  padding: 27px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .footer__row {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .footer__column {
    margin-bottom: 12px;
  }
}
.footer__column span {
  color: #ffffff;
  font-size: 16px;
}
@media (max-width: 940px) {
  .footer__column span {
    font-size: 14px;
  }
}
.footer__header {
  border-top: 1px solid #d9d9d9;
  padding: 31px 0 21px;
  position: relative;
}
@media (max-width: 500px) {
  .footer__header {
    padding: 15px 0 15px;
  }
}
.footer__header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .footer__header-row .header__center {
    display: none;
  }
}
@media (max-width: 420px) {
  .footer__header-row .header__content {
    justify-content: flex-end;
  }
  .footer__header-row .header__left {
    display: none;
  }
}
.footer-without-border-top > .footer__header {
  border-top: none;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 14px;
  margin-bottom: 25px;
}
.breadcrumbs__block:after {
  right: 0;
  content: "→";
  color: #c6c6c6;
  font-family: "savoye";
  padding-left: 11px;
  padding-right: 11px;
}
.breadcrumbs__block:last-of-type:after {
  content: "";
  padding-left: 0;
  padding-right: 0;
}
.breadcrumbs__link {
  white-space: normal;
  color: #c6c6c6;
}

.chiefs__block {
  display: flex;
  margin-bottom: 43px;
}
@media (max-width: 600px) {
  .chiefs__block {
    flex-direction: column;
    align-items: center;
  }
}
.chiefs__image-form {
  padding: 6px;
  min-width: 246px;
  min-height: 246px;
  max-width: 246px;
  max-height: 246px;
  box-shadow: 6.5px 8.9px 20.6px 0.4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 768px) {
  .chiefs__image-form {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
  }
}
.chiefs__image-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
}
.chiefs__image {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  border-radius: 50%;
}
.chiefs__image:hover {
  transform: scale(1.2);
}
.chiefs__info {
  margin-top: 60px;
  max-width: 720px;
}
@media (max-width: 600px) {
  .chiefs__info {
    margin-top: 30px;
  }
}
.chiefs__title {
  position: relative;
  margin-bottom: 37px;
  font-family: "fradm";
  color: #121212;
  font-size: 24.5px;
}
@media (max-width: 768px) {
  .chiefs__title {
    margin-bottom: 25px;
  }
}
.chiefs__content {
  color: #444343;
  font-size: 19px;
  line-height: 30px;
  text-align: justify;
}
@media (max-width: 768px) {
  .chiefs__content {
    padding-right: 15px;
    font-size: 13px;
    line-height: 18px;
  }
}

.chiefs__block:nth-of-type(2n-1) .chiefs__info {
  margin-left: 50px;
}
@media (max-width: 600px) {
  .chiefs__block:nth-of-type(2n-1) .chiefs__info {
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (max-width: 600px) {
  .chiefs__block:nth-of-type(2n-1) .chiefs__title {
    text-align: center;
  }
}
.chiefs__block:nth-of-type(2n-1) .chiefs__title:before {
  content: "";
  display: block;
  width: 81px;
  height: 1px;
  background-color: #f44601;
  position: absolute;
  top: 50%;
  left: -96px;
}
@media (max-width: 600px) {
  .chiefs__block:nth-of-type(2n-1) .chiefs__title:before {
    display: none;
  }
}

.chiefs__block:nth-of-type(2n) {
  justify-content: flex-end;
}
@media (max-width: 600px) {
  .chiefs__block:nth-of-type(2n) {
    justify-content: flex-start;
  }
}
.chiefs__block:nth-of-type(2n) .chiefs__info {
  margin-right: 55px;
}
@media (max-width: 600px) {
  .chiefs__block:nth-of-type(2n) .chiefs__info {
    margin-right: 15px;
    margin-left: 15px;
  }
}
.chiefs__block:nth-of-type(2n) .chiefs__image-form {
  order: 1;
}
@media (max-width: 600px) {
  .chiefs__block:nth-of-type(2n) .chiefs__image-form {
    order: inherit;
  }
}
.chiefs__block:nth-of-type(2n) .chiefs__title {
  text-align: right;
}
@media (max-width: 600px) {
  .chiefs__block:nth-of-type(2n) .chiefs__title {
    text-align: center;
  }
}
.chiefs__block:nth-of-type(2n) .chiefs__title:after {
  content: "";
  display: block;
  width: 81px;
  height: 1px;
  background-color: #f44601;
  position: absolute;
  top: 50%;
  right: -102px;
}
@media (max-width: 600px) {
  .chiefs__block:nth-of-type(2n) .chiefs__title:after {
    display: none;
  }
}

.about {
  margin-bottom: 77px;
}
@media (max-width: 600px) {
  .about {
    margin-bottom: 50px;
  }
}
.about__title {
  font-family: "fradm";
  font-size: 25px;
  letter-spacing: 0.63px;
  color: #121212;
}
.about__main {
  padding: 37px 60px 33px 46px;
  border-radius: 5px;
  box-shadow: 6.5px 8.9px 20.6px 0.4px rgba(0, 0, 0, 0.1);
  border: solid 3px #ffffff;
  background-color: #ffffff;
  margin-top: 40px;
}
@media (max-width: 600px) {
  .about__main {
    padding: 20px 30px 20px 20px;
  }
}
.about__image-form {
  padding: 7px;
  float: left;
  margin-right: 35px;
  border-radius: 10px;
  box-shadow: 2.4px 3.2px 8.8px 0.2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .about__image-form {
    max-width: 30%;
    min-width: 170px;
  }
}
@media (max-width: 500px) {
  .about__image-form {
    max-width: 100%;
    float: none;
    margin: 0 auto 20px;
  }
}
.about__image-bg {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.about__image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.about__content {
  margin-left: 4px;
  font-size: 19px;
  line-height: 30px;
  text-align: justify;
  color: #595656;
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .about__content {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}

.advantages {
  margin-bottom: 40px;
}
.advantages__title {
  font-family: "fradm";
  font-size: 25px;
  letter-spacing: 0.63px;
  color: #121212;
}
.advantages__main {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}
@media (max-width: 900px) {
  .advantages__main {
    justify-content: center;
  }
}
.advantages__block {
  padding: 25px 29px 25px 15px;
  display: flex;
  align-items: center;
  width: 48.33333%;
  cursor: pointer;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .advantages__block {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .advantages__block {
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .advantages__block {
    flex-direction: column;
    padding-right: 15px;
  }
}
.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
}
.advantages__icon img {
  min-width: 100%;
  max-width: 100%;
}
@media (max-width: 600px) {
  .advantages__icon {
    min-width: 60px;
  }
}
.advantages__vertical-line {
  margin-left: 13px;
  margin-right: 15px;
  min-width: 2px;
  min-height: 100%;
  background-color: #f44601;
}
@media (max-width: 500px) {
  .advantages__vertical-line {
    min-height: 2px;
    min-width: 100%;
    margin: 15px 0;
  }
}
.advantages__content {
  font-size: 19px;
  line-height: 25px;
  letter-spacing: 0.95px;
  color: #595656;
}
@media (max-width: 600px) {
  .advantages__content {
    font-size: 13px;
    line-height: 18px;
  }
}

.cooking__slider {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 55px;
}
.cooking__image-form {
  opacity: 0.5;
  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out;
  transform: scale(0.5) translateZ(0px);
  padding: 7px;
  border-radius: 10px;
  box-shadow: 2.4px 3.2px 8.8px 0.2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}
.cooking__image-form:hover {
  opacity: 0.8;
  transform: scale(0.6) translateZ(0px);
}
.cooking__image-form:active {
  opacity: 1;
  transform: scale(0.7) translateZ(0px);
}
.cooking__image-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.cooking__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#list {
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#list li {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
}

.active {
  opacity: 1 !important;
  transform: scale(1) translateZ(0px) !important;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}